* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #111111;
    color: whitesmoke;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.display {
    display: flex;
}

.header {
    background-color: #555555;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5%;
}

.section {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.content-img {

    margin: 5% 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.grid-img {
    border: 1px #f5f5f5 solid;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    width: 456px;
}

.img img{
    width: 150px;
    height: 150px;
}

.footer {
    height: 90px;
    justify-content: center;
    align-items: center;
}

.footer a img {
    width: 30px;
    height: 30px;
}