body{
    font-size: 16px;
    background-color: #181818;
}
h1{
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    color: silver;
}
.background-color{
    background-color: #383838;
}
li{
    text-align: center;
    line-height: 40px;
    font-size: 1.25em;
    color: #000;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}