form {
  max-width: 400px;
}

#form {
  border: 2px solid #111;
  max-width: 380px;
}

#form h1 {
  text-align: center;
}

#form .item {
  margin: 0px 10px;
  padding: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}


.button {
  padding: 5px;
}

.button button {
  margin-top: 5px;
  padding: 4px 8px;
}
