html {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    margin: 10px 0px;
}

header p {
    text-align: center;
    font-style: italic bold;
    font-size: 2rem;
    margin-bottom: 20px;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    font-size: 1.2rem;
    padding: 4px 12px;
    border-radius: 5px;
    list-style: none;
    border: 1px solid #121212;
    margin-right: 10px;
    opacity: 0.8;
}

header nav ul li:hover {
    opacity: 1;
}

aside h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px;
}

aside ul {
    margin-left: 10px;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

aside ul li {
    height: 35px;
}

.main-content {
    margin: 15px;
}

.main-content h1 {
    font-size: 1.7rem;
    text-align: center;
}

.main-content p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    letter-spacing: 0.025rem;
    text-align: justify;
}

footer {
    margin: 10px;
}

footer h3 {
    font-size: 1.4rem;
    text-align: center;
    margin: 25px 0px;
}

footer p {
    font-size: 1.1rem;
    letter-spacing: 0.025rem;
    margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
    header p {
        font-size: 3rem;
    }
    
    aside h2 {
        font-size: 2rem;
    }

    aside ul li {
        font-size: 1.2rem;
        letter-spacing: 0.03rem;
    }

    .main-content p {
        font-size: 1.2rem;
        letter-spacing: 0.03rem;
    }

    footer h3 {
        font-size: 2rem;
    }

    footer p {
        font-size: 1.2rem;
        letter-spacing: 0.03px;
    }
}

@media screen and (min-width: 1024px) {

}