* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  padding: 5px;
}

.style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

li {
  height: 40px;
  padding: 7.5px 30px;
  border: 1px #121212 solid;
  list-style: none;
}
